<!-- Navbar general para inicio de sesión -->
<!-- <nav class="navbar navbar-expand-md navbar-default ">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['index']">Bolsa de Trabajo</a>
            </li>
        </ul>
    </div>

    <div *ngIf="!(_as.user | async)  && role == 0" class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['login']">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/register/student']">Registro de Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/register/employeer']">Registro de Empresa</a>
            </li>
        </ul>
    </div>


    <div *ngIf="role == 1 && _as.user | async as user" class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">

                <a class="nav-link" [routerLink]="['login']" (click)="_as.logout()">Cerrar Sesión
              <<button (click)="_as.logout()" type="button" class="btn btn-outline-danger" >Cerrar Sesión</button> 
           </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/profile/student', user.uid]">Perfil de Usuario</a>
            </li>
        </ul>
    </div>

    <div *ngIf="role==2 && _as.user | async as user  " class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">

                <a class="nav-link" [routerLink]="['login']" (click)="_as.logout()">Cerrar Sesión
              <button (click)="_as.logout()" type="button" class="btn btn-outline-danger" >Cerrar Sesión</button> 
           </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/profile/student', user.uid]">Perfil de Usuario</a>
            </li>
        </ul>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-default">
    <a class="navbar-brand  mr-auto">
        <i class="icon ion-ios-home icon-medium p-2"> </i> Inicio
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


    <div class="collapse navbar-collapse " [ngSwitch]="role">
        <div class="navbar-nav ml-auto" *ngSwitchCase="'Administrador'">
            <a class="nav-item nav-link" [routerLink]="['/inicio']">Inicio</a>
            <a class="nav-item nav-link" [routerLink]="['/empresas']">Empresas</a>
            <a class="nav-item nav-link" [routerLink]="['/estudiantes']">Alumnos/Egresados</a>
            <a class="nav-item nav-link" [routerLink]="['/ofertas']">Ofertas de trabajo</a>
            <a class="nav-item nav-link" [routerLink]="['/reportes']">Reportes</a>
        </div>
        <div class="navbar-nav ml-auto" *ngSwitchCase="'Estudiante'">
            <!-- <a class="nav-item nav-link" [routerLink]="['/inicio']">Inicio</a> -->
            <a class="nav-item nav-link" [routerLink]="['/empresas']">Empresas</a>
            <a class="nav-item nav-link" [routerLink]="['/estudiantes']">Alumnos/Egresados</a>
            <a class="nav-item nav-link" [routerLink]="['/ofertas']">Ofertas de trabajo</a>
            <a class="nav-item nav-link" [routerLink]="['/reportes']">Reportes</a>
        </div>
        <div class="navbar-nav ml-auto" *ngSwitchCase="'Empresa'">
            <a class="nav-item nav-link" [routerLink]="['/inicio']">Inicio</a>
            <a class="nav-item nav-link" [routerLink]="['/empresas']">Perfil</a>
            <a class="nav-item nav-link" [routerLink]="['/estudiantes']">Alumnos/Egresados</a>
            <a class="nav-item nav-link" [routerLink]="['/ofertas']">Ofertas de trabajo</a>
            <a class="nav-item nav-link" [routerLink]="['/reportes']">Reportes</a>
        </div>
        <div class="navbar-nav ml-auto" *ngSwitchDefault>
            <a class="nav-item nav-link" [routerLink]="['/inicio']">Iniciar sesión</a>
            <a class="nav-item nav-link" [routerLink]="['/registro/egresado']">Registro de egresado</a>
            <a class="nav-item nav-link" [routerLink]="['/registro/empresa']">Registro de empresa</a>

        </div>
    </div>

</nav>