<h1>Estudiantes</h1>
<hr>
<div class ="row animated fadeIn fast">
    <div class ="col-md-12 text-right">
      <button [routerLink]="['/register/student']" class="btn btn-outline-primary" type="button" name="button">
        Nuevo estudiante
      </button>
    </div>
</div>
<br>

<div class ="row animated fadeIn fast">
  <div class ="col-md-12">
    <div class ="table-responsive">
      <table class="table">
        <thead class="thead-inverse">
          <th>#</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th class="text-right">Opciones</th>
        </thead>
        <tbody class="tbody-inverse">
            <tr *ngFor="let k of students | keys; let i=index">
              <td>{{ i +1}}</td>
              <td>{{ students[k].firstName }}</td>
              <td>{{ students[k].lastName }}</td>
              <td class="text-right w120">
                <button [routerLink]="['/profile/student', k]" type="button" class="btn btn-outline-success">Editar
                </button>
                <div class="divider"></div>
                <button (click)="borrarStudent(k)" type="button" class="btn btn-outline-danger">Eliminar
                </button>
              </td>
            </tr>
        </tbody>
      </table>
      <div *ngIf="(students | keys).length===0 && !loading" class="alert alert-info" role="alert">
        <strong>No hay</strong> registros que mostrar
      </div>
      <div *ngIf="loading" class="alert alert-warning" role="alert">
          <strong>Cargando...</strong> por favor espere
        </div>


    </div>
  </div>
</div>
