<h1>Perfil de Estudiante</h1>
<div class="" *ngIf="studentO | async as student">
    <form [formGroup]="formulario" (ngSubmit)="agregar()">
        <h3>Actualizar correo</h3>
        <div class="borde-tec p-b-4"></div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">Nuevo Correo electrónico</label>
                <input type="email" class="form-control student" [readonly]="read_flag" formControlName="email" id="email" placeholder="Nuevo correo" [class.is-invalid]="!formulario.get('email').valid && formulario.get('email').dirty" [class.is-valid]="formulario.get('email').valid">
            </div>
            <!-- <div *ngIf="!formulario.controls.email.valid && formulario.controls.email.dirty" class="invalid">
          Excediste el número de letras permitido
      </div> -->
            <div class="form-group col-md-6">
                <label for="email_confirm">Confirma tu correo electrónico</label>
                <input type="email" class="form-control student" [readonly]="read_flag" formControlName="email_confirm" id="email_confirm" placeholder="Repetir Correo" [class.is-invalid]="!formulario.get('email_confirm').valid && formulario.get('email_confirm').dirty"
                    [class.is-valid]="formulario.get('email_confirm').valid">
            </div>
        </div>

        <h3>Actualizar contraseña</h3>
        <div class="borde-tec p-b-4"></div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="password">Nueva Contraseña</label>
                <input type="password" class="form-control" [readonly]="read_flag" formControlName="password" id="password" placeholder="Nueva Contraseña" [class.is-invalid]="!formulario.get('password').valid && formulario.get('password').dirty" [class.is-valid]="formulario.get('password').valid">
            </div>
            <div class="form-group col-md-6">
                <label for="password_confirm">Repetir contraseña</label>
                <input type="password" class="form-control" [readonly]="read_flag" formControlName="password_confirm" id="password_confirm" placeholder="Repetir Contraseña" [class.is-invalid]="!formulario.get('password_confirm').valid && formulario.get('password_confirm').dirty"
                    [class.is-valid]="formulario.get('password_confirm').valid">
            </div>
        </div>

        <h4>Datos generales del alumno</h4>
        <div class="borde-tec p-b-4"></div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="firstName">Nombres</label>
                <input type="text" class="form-control" [readonly]="read_flag" formControlName="firstName" id="firstName" value={{student.firstName}} [class.is-invalid]="!formulario.get('firstName').valid && formulario.get('firstName').dirty" [class.is-valid]="formulario.get('firstName').valid">
            </div>
            <div class="form-group col-md-4">
                <label for="lastName">Apellido paterno</label>
                <input type="text" class="form-control" [readonly]="read_flag" formControlName="lastName" id="lastName" value={{student.middleName}} [class.is-invalid]="!formulario.get('lastName').valid && formulario.get('lastName').dirty" [class.is-valid]="formulario.get('lastName').valid">
            </div>
            <div class="form-group col-md-4">
                <label for="middleName">Apellido materno</label>
                <input type="text" class="form-control" [readonly]="read_flag" formControlName="middleName" id="middleName" value={{student.lastName}} [class.is-invalid]="!formulario.get('middleName').valid && formulario.get('middleName').dirty" [class.is-valid]="formulario.get('middleName').valid">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label class="mr-sm-2" for="sex">Sexo</label>
                <ng-container *ngIf="read_flag; else selectSex">
                    <input type="text" class="form-control" [readonly]="read_flag" value={{student.sex}}>
                </ng-container>
                <ng-template #selectSex>
                    <select class="custom-select select-tec mr-sm-2" formControlName="sex" id="sex">
            <!-- <option value="" selected disabled hidden>Elige una opción...</option> -->
            <option value="" selected disabled hidden>{{student.sex}}</option>
            <option *ngFor="let gender of genders" [ngValue]="gender">{{gender}}</option>
        </select>
                </ng-template>
            </div>
            <div class="form-group col-md-4">
                <label for="age">Fecha de nacimiento</label>
                <input type="date" class="form-control" [readonly]="read_flag" formControlName="age" id="age" value={{student.age}} [class.is-invalid]="!formulario.get('age').valid && formulario.get('age').dirty" [class.is-valid]="formulario.get('age').valid">
            </div>
            <div class="form-group col-md-4">
                <label class="mr-sm-2" for="maritalStatus">Estado civil</label>
                <ng-container *ngIf="read_flag; else selectMaritalStatus">
                    <input type="text" class="form-control" [readonly]="read_flag" value={{student.maritalStatus}}>
                </ng-container>
                <ng-template #selectMaritalStatus>
                    <select class="custom-select select-tec mr-sm-2" formControlName="maritalStatus" id="maritalStatus">
            <!-- <option value="" selected>Elige una opción...</option> -->
            <option value="" selected disabled hidden>{{student.maritalStatus}}</option>
            <option *ngFor="let maritalStatus of maritalStatuses" [ngValue]="maritalStatus">{{maritalStatus}}</option>
          </select>
                </ng-template>
            </div>
        </div>

        <h4>Dirección</h4>
        <div class="borde-tec p-b-4"></div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="mainStreet">Calle</label>
                <input type="text" class="form-control" [readonly]="read_flag" formControlName="mainStreet" id="mainStreet" value={{student.address.mainStreet}} [class.is-invalid]="!formulario.get('mainStreet').valid && formulario.get('mainStreet').dirty" [class.is-valid]="formulario.get('mainStreet').valid">
            </div>
            <div class="form-group col-md-4">
                <label for="crossings">Cruzamientos</label>
                <input type="text" class="form-control" [readonly]="read_flag" formControlName="crossings" id="crossings" value={{student.address.crossings}} [class.is-invalid]="!formulario.get('crossings').valid && formulario.get('crossings').dirty" [class.is-valid]="formulario.get('crossings').valid">
            </div>
            <div class="form-group col-md-4">
                <label for="postalCode">Código postal</label>
                <input type="text" class="form-control" [readonly]="read_flag" formControlName="postalCode" id="postalCode" value={{student.address.postalCode}} [class.is-invalid]="!formulario.get('postalCode').valid && formulario.get('postalCode').dirty" [class.is-valid]="formulario.get('postalCode').valid">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="city666">Ciudad</label>
                <input type="text" class="form-control" [readonly]="read_flag" formControlName="city" id="city" value={{student.address.city}} [class.is-invalid]="!formulario.get('city').valid && formulario.get('city').dirty" [class.is-valid]="formulario.get('city').valid">
            </div>
            <div class="form-group col-md-4">
                <label for="municipality">Municipio</label>
                <input type="text" class="form-control" [readonly]="read_flag" formControlName="municipality" id="municipality" value={{student.address.municipality}} [class.is-invalid]="!formulario.get('municipality').valid && formulario.get('municipality').dirty" [class.is-valid]="formulario.get('municipality').valid">
            </div>
            <div class="form-group col-md-4">
                <label for="state">Estado</label>
                <input type="text" class="form-control" [readonly]="read_flag" formControlName="state" id="state" value={{student.address.state}} [class.is-invalid]="!formulario.get('state').valid && formulario.get('state').dirty" [class.is-valid]="formulario.get('state').valid">
            </div>
        </div>

        <h4>Datos Académicos</h4>
        <div class="borde-tec p-b-4"></div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="idStudent">Matricula</label>
                <input type="text" class="form-control" [readonly]="read_flag" formControlName="idStudent" id="idStudent" value={{student.idStudent}} [class.is-invalid]="!formulario.get('idStudent').valid && formulario.get('idStudent').dirty" [class.is-valid]="formulario.get('idStudent').valid">
            </div>
            <div class="form-group col-md-4">
                <label class="mr-sm-2" for="bachelor">Carrera de egreso</label>
                <ng-container *ngIf="read_flag; else selectBachelor">
                    <input type="text" class="form-control" [readonly]="read_flag" value={{student.degree.bachelor}}>
                </ng-container>
                <ng-template #selectBachelor>
                    <select class="custom-select select-tec mr-sm-2" formControlName="bachelor" id="bachelor">
          <!-- <option selected>Elige una carrera...</option> -->
          <option value="" selected disabled hidden>{{student.degree.bachelor}}</option>
          <option *ngFor="let bachelor of bachelors" [ngValue]="bachelor">{{bachelor}}</option>
        </select>
                </ng-template>
            </div>
            <div class="form-group col-md-5">
                <label for="speciality">Especialidad</label>
                <input type="text" class="form-control" [readonly]="read_flag" formControlName="speciality" id="speciality" value={{student.degree.speciality}} [class.is-invalid]="!formulario.get('speciality').valid && formulario.get('speciality').dirty" [class.is-valid]="formulario.get('speciality').valid">
            </div>
            <div class="form-group col-md-6">
                <label for="master">Maestría</label>
                <input type="text" class="form-control" [readonly]="read_flag" formControlName="master" id="master" value={{student.degree.master}} [class.is-invalid]="!formulario.get('master').valid && formulario.get('master').dirty" [class.is-valid]="formulario.get('master').valid">
            </div>
            <div class="form-group col-md-6">
                <label for="phd">Doctorado</label>
                <input type="text" class="form-control" [readonly]="read_flag" formControlName="phd" id="phd" value={{student.degree.phd}} [class.is-invalid]="!formulario.get('phd').valid && formulario.get('phd').dirty" [class.is-valid]="formulario.get('phd').valid">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                Inglés(%)
            </div>
            <div class="form-group col-md-4">
                <label for="spoken">Hablado</label>
                <input type="number" class="form-control" min="0" max="100" [readonly]="read_flag" formControlName="spoken" id="spoken" value={{student.languages.english.spoken}} [class.is-invalid]="!formulario.get('spoken').valid && formulario.get('spoken').dirty" [class.is-valid]="formulario.get('speciality').valid">
            </div>
            <div class="form-group col-md-4">
                <label for="written">Escrito</label>
                <input type="number" class="form-control" min="0" max="100" [readonly]="read_flag" formControlName="written" id="written" value={{student.languages.english.written}} [class.is-invalid]="!formulario.get('written').valid && formulario.get('written').dirty"
                    [class.is-valid]="formulario.get('written').valid">
            </div>
            <div class="form-group col-md-4">
                <label for="translation">Traducción</label>
                <input type="number" class="form-control" min="0" max="100" [readonly]="read_flag" formControlName="translation" id="translation" value={{student.languages.english.translation}} [class.is-invalid]="!formulario.get('translation').valid && formulario.get('translation').dirty"
                    [class.is-valid]="formulario.get('translation').valid">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="">Curriculum</label>
                <div class="custom-file">
                    <input type="file" accept="application/pdf" class="custom-file-input" (change)="startUpload($event.target.files)">
                    <label class="custom-file-label" for="customFile"><i class="fa fa-upload"></i> Choose file</label>
                </div>
            </div>
        </div>




        <ng-container *ngIf="read_flag; else submit">
            <div class="form-row justify-content-md-center">
                <div class="col-md-4">
                    <button type="button" class="text-center btn btn-rojo col-md-12" (click)="actualizar()">Actualizar Información</button>
                </div>
            </div>
        </ng-container>
        <ng-template #submit>
            <div class="form-row">
                <div class="col-md-5 p-2">
                    <button type="submit" class="text-center btn btn-rojo col-md-12">Actualizar</button>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-5 p-2">
                    <button type="button" class="text-center btn btn-morado col-md-12" (click)="actualizar()">Cancelar</button>
                </div>
            </div>
        </ng-template>
    </form>
</div>


<hr>



<div class="dropzone" appDropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" [class.hovering]="isHovering">
    <h3>Sube tu CV</h3>
    <p>Drag and Drop a File</p>
    <div class="custom-file">
        <input type="file" class="custom-file-input" (change)="startUpload($event.target.files)">
        <label class="custom-file-label" for="customFile"><i class="fa fa-upload"></i> Choose file</label>
    </div>
</div>

<div *ngIf="percentage | async as pct">

    <progress class="progress is-info" [value]="pct" max="100">
  </progress> {{ pct | number }}%

</div>


<div *ngIf="(snapshot | async) as snap">
    {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }}

    <div *ngIf="downloadURL | async as url">
        <h3>Results!</h3>
        <img [src]="url"><br>
        <a [href]="url" target="_blank" rel="noopener">Download Me!</a>
    </div>
    <hr>




    <button (click)="task.pause()" type="button" class="btn btn-warning" [disabled]="!isActive(snap)">Pause</button>
    <button (click)="task.cancel()" type="button" class="btn btn-danger" [disabled]="!isActive(snap)">Cancel</button>
    <button (click)="task.resume()" type="button" class="btn btn-info" [disabled]="!(snap?.state === 'paused')">Resume</button>


</div>