<h3>Log In</h3>

<hr>

<div class ="row animated fadeIn fast">
  <div class ="col-md-12 text-left">
    <form (ngSubmit)="logIn()" #forma="ngForm">
      <div class="form-group">
        <label>User</label>
        <input [(ngModel)]="user.email"
               type="text"
               name="email"
               class="form-control"
               placeholder="alexpinkus@hotmail.com"
               required
        >
      </div>
      <div class="form-group">
        <label>Password</label>
        <input [(ngModel)]="user.password"
               type="text"
               name="password"
               class="form-control"
               placeholder="password"
               required
        >
      </div>
      <div class="form-group">
        <button [disabled]="!forma.valid" class="btn btn-outline-primary" type="submit" name="button">
        Login
        </button>
        <div class="divider"></div>
        <button [routerLink]="['index']" class="btn btn-outline-danger">
        Cancelar
        </button>
      </div>
    </form>
    <div>
        <label>¿Olvidó su contraseña?</label>
        <button [disabled]="!forma.valid" class="btn btn-outline-info" (click)="resetPassword()" name="reset" >Recuperar contraseña</button>
    </div>
  </div>
</div>


