<h3>
    Oferta de trabajo
</h3>
<h4>
    Posición: {{joboffer.position}}
</h4>
<br>
<h4>Descripción:</h4>
<br>
<p>{{joboffer.description}}</p>
<br>
<h4>Salario {{joboffer.salary | currency}}</h4>
<br>
<h4>Número de vacantes: {{joboffer.vacantNumber}}</h4>
<br>
<h4>Años de Experiencia: {{joboffer.experience}}</h4>
<br>
<h4>Aptitudes</h4>
<ul>
    <li *ngFor="let aptitud of joboffer.aptitudes">{{aptitud}}</li>
</ul>
<br>
<h4>Descripción:</h4>
<p>{{joboffer.description}}</p>
<br>
<h4>Descripción:</h4>
<p>{{joboffer.description}}</p>
<br>
<h4>Descripción:</h4>
<p>{{joboffer.description}}</p>