<div class="bootstrap-iso">
  <form [formGroup]="formulario" (ngSubmit)="register()">
    <h3>Datos generales de la empresa</h3>
    <div class="borde-tec p-b-4"></div>
    <br>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="email">Correo electrónico</label>
        <input type="email" class="form-control student" [readonly]="read_flag" id="email" formControlName="email" placeholder="Correo"
        [class.is-invalid]="!formulario.get('email').valid && formulario.get('email').dirty"
        [class.is-valid]="formulario.get('email').valid">
      </div>
      <div class="form-group col-md-6">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" [readonly]="read_flag" id="password" formControlName="password" placeholder="Contraseña"
        [class.is-invalid]="!formulario.get('password').valid && formulario.get('password').dirty"
        [class.is-valid]="formulario.get('password').valid">
      </div>
      <div class="form-group col-md-6">
        <label for="email_confirm">Confirma tu correo electrónico</label>
        <input type="email" class="form-control student" [readonly]="read_flag" id="email_confirm" formControlName="email_confirm" placeholder="Confirmar Correo"
        [class.is-invalid]="!formulario.get('email_confirm').valid && formulario.get('email_confirm').dirty"
        [class.is-valid]="formulario.get('email_confirm').valid">
      </div>
      <div class="form-group col-md-6">
        <label for="password_confirm">Repetir contraseña</label>
        <input type="password" class="form-control" [readonly]="read_flag" id="password_confirm" formControlName="password_confirm" placeholder="Repetir Contraseña"
        [class.is-invalid]="!formulario.get('password_confirm').valid && formulario.get('password_confirm').dirty"
        [class.is-valid]="formulario.get('password_confirm').valid">
      </div>
    </div>

    <h4>Datos del contacto</h4>
    <div class="borde-tec p-b-4"></div>
    <br>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="firstName">Nombres</label>
        <input type="text" class="form-control" [readonly]="read_flag" id="firstName" formControlName="firstName" placeholder="Nombres"
        [class.is-invalid]="!formulario.get('firstName').valid && formulario.get('firstName').dirty"
        [class.is-valid]="formulario.get('firstName').valid">
      </div>
      <div class="form-group col-md-4">
        <label for="middleName">Apellido paterno</label>
        <input type="text" class="form-control" [readonly]="read_flag" id="middleName" formControlName="middleName" placeholder="Apellido Paterno"
        [class.is-invalid]="!formulario.get('middleName').valid && formulario.get('middleName').dirty"
        [class.is-valid]="formulario.get('middleName').valid">
      </div>
      <div class="form-group col-md-4">
        <label for="lastName">Apellido materno</label>
        <input type="text" class="form-control" [readonly]="read_flag" id="lastName" formControlName="lastName" placeholder="Apellido Materno"
        [class.is-invalid]="!formulario.get('lastName').valid && formulario.get('lastName').dirty"
        [class.is-valid]="formulario.get('lastName').valid">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="job">Puesto</label>
        <input type="text" class="form-control" [readonly]="read_flag" id="job" formControlName="job" placeholder="Puesto"
        [class.is-invalid]="!formulario.get('job').valid && formulario.get('job').dirty"
        [class.is-valid]="formulario.get('job').valid">
      </div>
      <div class="form-group col-md-4">
        <label for="department">Departamento</label>
        <input type="text" class="form-control" [readonly]="read_flag" id="department" formControlName="department" placeholder="Departamento"
        [class.is-invalid]="!formulario.get('department').valid && formulario.get('department').dirty"
        [class.is-valid]="formulario.get('department').valid">
      </div>
      <div class="form-group col-md-4">
        <label for="contactPhone">Telefono</label>
        <input type="text" class="form-control" [readonly]="read_flag" id="contactPhone" formControlName="contactPhone" placeholder="Teléfono"
        [class.is-invalid]="!formulario.get('contactPhone').valid && formulario.get('contactPhone').dirty"
        [class.is-valid]="formulario.get('contactPhone').valid">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="contactAddress">Dirección</label>
        <input type="text" class="form-control" [readonly]="read_flag" id="contactAddress" formControlName="contactAddress" placeholder="Dirección"
        [class.is-invalid]="!formulario.get('contactAddress').valid && formulario.get('contactAddress').dirty"
        [class.is-valid]="formulario.get('contactAddress').valid">
      </div>
    </div>

    <h4>Datos de la empresa </h4>
    <div class="borde-tec p-b-4"></div>
    <br>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="comercialName">Nombre comercial</label>
        <input type="text" class="form-control" [readonly]="read_flag" id="comercialName" formControlName="comercialName" placeholder="Nombre Comercial"
        [class.is-invalid]="!formulario.get('comercialName').valid && formulario.get('comercialName').dirty"
        [class.is-valid]="formulario.get('comercialName').valid">
      </div>
      <div class="form-group col-md-12">
        <label for="bussinessName">Razón social</label>
        <input type="text" class="form-control" [readonly]="read_flag" id="bussinessName" formControlName="bussinessName" placeholder="Razón Social"
        [class.is-invalid]="!formulario.get('bussinessName').valid && formulario.get('bussinessName').dirty"
        [class.is-valid]="formulario.get('bussinessName').valid">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="RFC">RFC</label>
        <input type="text" class="form-control" [readonly]="read_flag" id="RFC" formControlName="RFC" placeholder="RFC"
        [class.is-invalid]="!formulario.get('RFC').valid && formulario.get('RFC').dirty"
        [class.is-valid]="formulario.get('RFC').valid">
      </div>
      <div class="form-group col-md-4">
        <label for="bussinessPhone">Teléfono</label>
        <input type="text" class="form-control" [readonly]="read_flag" id="bussinessPhone" formControlName="bussinessPhone" placeholder="Teléfono"
        [class.is-invalid]="!formulario.get('bussinessPhone').valid && formulario.get('bussinessPhone').dirty"
        [class.is-valid]="formulario.get('bussinessPhone').valid">
      </div>
      <div class="form-group col-md-4">
        <label for="webURL">Sitio web</label>
        <input type="text" class="form-control" [readonly]="read_flag" id="webURL" formControlName="webURL" placeholder="Sitio web"
        [class.is-invalid]="!formulario.get('webURL').valid && formulario.get('webURL').dirty"
        [class.is-valid]="formulario.get('webURL').valid && formulario.get('webURL').dirty">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="mainStreet">Calle</label>
        <input type="text" class="form-control" [readonly]="read_flag" id="mainStreet" formControlName="mainStreet" placeholder="Calle"
        [class.is-invalid]="!formulario.get('mainStreet').valid && formulario.get('mainStreet').dirty"
        [class.is-valid]="formulario.get('mainStreet').valid">
      </div>
      <div class="form-group col-md-4">
        <label for="crossings">Cruzamientos</label>
        <input type="text" class="form-control" [readonly]="read_flag" id="crossings" formControlName="crossings" placeholder="Cruzamientos"
        [class.is-invalid]="!formulario.get('crossings').valid && formulario.get('crossings').dirty"
        [class.is-valid]="formulario.get('crossings').valid">
      </div>
      <div class="form-group col-md-4">
        <label for="postalCode">Código Postal</label>
        <input type="text" class="form-control" [readonly]="read_flag" id="postalCode" formControlName="postalCode" placeholder="Código postal"
        [class.is-invalid]="!formulario.get('postalCode').valid && formulario.get('postalCode').dirty"
        [class.is-valid]="formulario.get('postalCode').valid">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="city">Ciudad</label>
        <input type="text" class="form-control" [readonly]="read_flag" id="city" formControlName="city" placeholder="Ciudad"
        [class.is-invalid]="!formulario.get('city').valid && formulario.get('city').dirty"
        [class.is-valid]="formulario.get('city').valid">
      </div>
      <div class="form-group col-md-4">
        <label for="municipality">Municipio</label>
        <input type="text" class="form-control" [readonly]="read_flag" id="municipality" formControlName="municipality" placeholder="Municipio"
        [class.is-invalid]="!formulario.get('municipality').valid && formulario.get('municipality').dirty"
        [class.is-valid]="formulario.get('municipality').valid">
      </div>
      <div class="form-group col-md-4">
        <label for="state">Estado</label>
        <input type="text" [readonly]="read_flag" id="state" formControlName="state" class="form-control" placeholder="Estado"
        [class.is-invalid]="!formulario.get('state').valid && formulario.get('state').dirty"
        [class.is-valid]="formulario.get('state').valid">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="description">Descripción</label>
        <textarea class="form-control" [readonly]="read_flag" id="description" formControlName="description" aria-label="With textarea"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="bussinessTurn">Giro del negocio</label>
        <input type="text" class="form-control" [readonly]="read_flag" id="bussinessTurn" formControlName="bussinessTurn" placeholder="Giro del Negocio"
        [class.is-invalid]="!formulario.get('bussinessTurn').valid && formulario.get('bussinessTurn').dirty"
        [class.is-valid]="formulario.get('bussinessTurn').valid">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="logo">Logotipo</label>
        <div class="custom-file">
          <input type="file" accept="image/*" class="custom-file-input" [readonly]="read_flag" formControlName="logo">
          <label class="custom-file-label" for="customFile"><i class="fa fa-upload"></i> Choose file</label>
        </div>
      </div>
    </div>
      <!-- <hr> -->
    <div class="form-row">
      <div class="col-md-5 p-2">
        <button type="submit" class="text-center btn btn-rojo col-md-12">Registrar</button>
        <!-- <button type="submit" [disabled]="!formulario.valid" class="text-center btn btn-rojo col-md-12">Registrar</button> -->
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-5 p-2">
        <button type="button" class="text-center btn btn-morado col-md-12">Cancelar</button>
      </div>
    </div>
  </form>
</div>
